.navBar{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    display:grid;
    grid-template-columns:154px 123px repeat(3,1fr);
    color:white;
    width:100%;
    height: 66px;
    background-color:#12131431;
    backdrop-filter: blur(10px);
    border-bottom:.3px solid #404145;
    box-sizing:border-box;
    font-family:"ProductSans-Medium";
    font-size:1.2em;
    padding-inline:5%;
    transition:.3s;
    z-index:12222;
}
.title{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    cursor:pointer;
    transition:.3s;
    height:66px;
    
}
.title:hover{
    color:rgba(255, 255, 255, 0.205);
}
.navHeader{
    font-family:"ProductSans-Regular";
    font-size:calc(.8rem + .8vw);
    cursor:pointer;
    transition:.3s;
    display:flex;
    align-items:center;
    justify-content:flex-start;
}

.navHeader:hover{
    color:rgba(255, 255, 255, 0.192);
}

.navItems{
    list-style:none;
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    font-family:"ProductSans-Regular";
    font-size:.9em;
    grid-column:2 span;

}
.navItems li {
    cursor: pointer;
    padding-inline:2%;
    font-size:calc(.5rem + .8vw);
    display:flex;
    align-items:center;
    justify-content:center;
    height: 66px;
    transition:.4s;

}
.inactive_li{
    border-bottom:3px solid transparent;
    color:rgba(255, 255, 255, 0.445);
    
}
.active_li{
    border-bottom:3px solid white;
    color:white;
}
.navItems li:hover{
    color:white;
}
.connect{
    font-size:.9em;
    cursor: pointer;
    display:flex;
    align-items:center;
    justify-content:flex-end;
    margin:12px;
    transition:.5s;
}
.connect:hover{
    color:rgba(255, 255, 255, 0.356);
}
.connect img{
    margin-right:2%;
}
.hamburger{
    cursor: pointer;
    transition:.3s;
    display:none;
}
.hamburger:hover{
    opacity:.1;
}
.hamburger-container{
    display:flex;
    align-items:center;
    justify-content:flex-start;
}
@media(width <= 1020px){

    .navBar {
        grid-template-columns: 50px 1fr;
        grid-auto-flow:dense;
    }
    .navItems,.navHeader,.connect{
        display:none;
    }
    .section-1-col-1-t{
        font-size: calc(1rem + 6vw);   
    }
    .title{
        order:1;
    }
    
    .hamburger{
        display:block;
        order:0;
    }
    
}
.account-ceils{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
}
.spacer{
    color:transparent;
}
.identicon{
    border-radius:100%;
}