@font-face {
    font-family:"ProductSans-Regular";
    src: url('./assets/fonts/ProductSans-Regular.ttf');
}
@font-face {
    font-family:"ProductSans-Medium";
    src: url('./assets/fonts/ProductSans-Medium.ttf');
}
@font-face {
    font-family:"ProductSans-Light";
    src: url('./assets/fonts/ProductSans-Light.ttf');
}
@font-face {
    font-family:"ProductSans-Bold";
    src: url('./assets/fonts/ProductSans-Bold.ttf');
}
@font-face {
    font-family:"ProductSans-Black";
    src: url('./assets/fonts/ProductSans-Black.ttf');
}